langchain 
faiss-cpu 
pypdf 
sentence-transformers
langchain-community
langchain-ollama
langchain-experimental
open_clip_torch 
torch
spacy
transformers
sentencepiece
numpy <2.0
neo4j
langchain_neo4j
openai
llama-index-embeddings-huggingface
llama-index 
llama-index-llms-ollama 
sentence-transformers
